@font-face{
    font-family: "inter-bold";
    src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face{
    font-family: "merri";
    src: url(../fonts/Merriweather-Light.ttf);
}

$font1: inter-bold, sans-serif;
$font2: merri,serif;
$black1: rgb(17, 17, 17 );
$white1: rgb(243, 243, 243,);
$grey1: rgb(209, 209, 209);
$grey2: rgb(233, 233, 233); 
$grey3: rgb(105, 105, 105);

@mixin title{
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a,
a:visited{
    color: $white1;
}
body{
    background: url(./asset/img/bg.jpg) fixed center/cover;
    text-align: center;
    font-family: $font2;
    max-width: 1300px;
    margin: 0 auto;
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $black1;
        animation: animbefore 1s ease forwards;
        animation-duration: 0.15s;

        @keyframes animbefore {
            to {
                opacity: 0;
            }      
        }
    }
}
.btn{
    background: none;
    border: 2px solid $black1;
    height: 45px;
    width: 270px;
    font-size: 0.75em;
    cursor: pointer;
    @include title;
    transition: 0.2s;
    &:hover{
        transform: scale(1.05);
    }
}

header{
    color: white;
    position: relative;
    min-height: 100vh;

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        opacity: 0;
        transform: translateY(40px);
        animation: headeranim 1.5s forwards;
        @keyframes headeranim {
            to{
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    h1{
        @include title;
        font-size: 4rem;
        letter-spacing: 6px;

        @media screen and (max-width:700px) {
            font-size: 2rem;
        }
    }
    p{
        margin: 40px auto 60px;
        font-style: italic;
        width: 85%;
    }
    span{
        border: 2px solid $white1;
        border-radius: 50px;
        height: 60px;
        width: 60px;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.256);
        color: $white1;
        width: 85%;
        height: 65px;
        z-index: 100;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        ul{
            display: flex;
            align-items: center;
        }
        .nav-left{
            &:hover li:not(:hover){
                background: none;
                color: $white1;
            }
            li{
                @include title;
                font-size: 0.7rem;
                padding: 0 15px;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                @media screen and (max-width:700px) {
                    font-size: 0.7rem;
                }

                &:first-child{
                    background: $white1;
                    color: $black1;
                }
                &:hover{
                    background: $white1;
                    color: $black1;
                }
                
            }
        }
        .nav-right{
            font-size: 1.1rem;
            min-width: 100px;
            width: 25%;
            max-width: 300px;
            justify-content: space-around;
            margin-right: 10px;

            @media screen and (max-width:700px) {
                display: none;
            }

            li{
                transition: 0.15s;
                cursor: pointer;

                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
}


main {
    width: 85%;
    margin: 0 auto 30px;
    background-color: $white1;

    img{
        width: 100%;
    }

    .section1{
        width: 80%;
        margin: 0 auto;

        span{
            padding: 70px 0;
            position: relative;
            display: block;
            

            &::before,
             &:after{
                content: "";
                position: absolute;
                width: 37%;
                height: 1px;
                background: $grey1;
                top: 50%;
                transform: translateY(-50%);

                @media screen and (max-width: 700px){
                    width: 30%;
                }
                @media screen and (max-width: 700px){
                    width: 24%;
                }
            }
            &:before{
                left: 0;
            }
            &:after{
                right: 0;
            }
        }
        h2{
            @include title;
            font-size: 3rem;

            @media screen and (max-width:700px) {
                font-size: 2rem;
            }
        }
        p{
            width: 60%;
            margin: 30px auto;
            line-height: 35px;
            font-style: italic;
            font-size: 1rem;
        }
        .btn{
            margin: 50px 0 90px;
            
        }
    } 
    
    .section2{
        display: flex;
        justify-content: space-around;
        border-top: 1px solid $grey1;

        @media screen and (max-width:810px) {
            display: grid;
        }
        .left-part,
        .right-part{
            padding: 60px;
           
            span{
                font-size: 0.75rem;
            }
            h3{
                @include title;
                margin: 20px auto;
                line-height: 28px;
            }
            p{
                text-align: left;
                line-height: 30px;
                margin: 30px auto;
                font-size: 1rem;
            }
            .left-part{
                border-right: 1px solid $grey1;
            }

        }
        
    }
}

footer{
    display: grid;
    background-color: $grey2;
    width: 85%;
    margin: 0 auto 40px;
    grid-template-columns: 50% 50%;

    @media screen and (max-width:722px) {
        display: flex;
        flex-wrap: wrap;
    }
    form{
        display: grid;
        width: 85%;
        margin: 30px auto;

        label{
            display: flex;
            @include title;
            font-size: 0.8rem;
            justify-content: start;
            padding: 10px;
        }
        input{
            background: transparent;
            border: 1px solid $grey1;
            padding: 10px;
        }
        textarea{
            background: transparent;
            border: 1px solid $grey1;
            resize: none ;
        }
        .sumbit-container{
            display: flex;
            margin: 30px 0;
            width: 40%;
        }
    }   
    .infos-contact{
        display: grid;
        border-left: 1px solid $grey1;
        @media screen and (max-width:722px) {
             width: 100%;
             padding: 20px;

        }
        h3{
            @include title;
            font-size: 1rem;
            color: $grey3;
            font-size: 0.8rem;
        }
        p{
            color: $grey3;
        }
        .adresse,
        .phone,
        .email{
            display: grid;
            grid-template-columns: 33% 66%;
            align-items: center;
            border-bottom: 1px solid $grey1;
            @media screen and (max-width:722px) {
                padding: 20px;
            }
        }
        .social{
            display: grid;
            grid-template-columns: 33% 66%;
            align-items: center;
            @media screen and (max-width:722px) {
                padding: 20px;
            }
             ul{
                display: flex;
                justify-content: space-evenly;
                width: 80%;
                margin: 0 auto;
                li{
                    border: 1px solid $grey1;
                    padding: 10px;
                    border-radius: 150px;
                }
             }
        }
    }
}
